@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none !important;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./App.css);

/* 
  * set active custom color to carousel's indicator
*/
.carousel button {
  @apply bg-dark w-[23px] h-[23px] border-white border-[1px];
}

/* 
  * set inactive custom color to carousel's indicator
*/
.carousel .bg-white\/50 {
  @apply bg-[#E5E5E5] w-[23px] h-[23px];
}

/* 
  * hide the carousel's navigators
*/
.carousel .group {
  @apply border-none bg-transparent mx-5;
}
