.swiper-wrapper {
  padding: 0 0;
  gap: 10px;
}

.swiper-pagination {
  position: absolute !important;
  z-index: 1111 !important;
}

.swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: rgba(32, 93, 142, 0.7);
  transform: matrix(1, 0, 0, -1, 0, 0);
  opacity: 1;
}

.swiper-pagination-bullet::before {
  content: "00";
  font-size: 14px;
  border-radius: 100%;
  background: transparent;
  transform: matrix(1, 0, 0, -1, 0, 0);
  color: transparent;
}

.swiper-pagination-bullet-active::before {
  content: "00";
  width: 12px;
  height: 15.31px;
  border-radius: 100%;
  background: #1e7dc9;
  transform: matrix(1, 0, 0, -1, 0, 0);
  color: transparent;
}

.myslider {
  padding: 10% 0;
}

@media screen and (max-width: 768px) {
  .swiper-pagination-bullet {
    display: none;
  }
  .myslider {
    padding: 15% 0 20%;
  }
}
